.hidden {
    display: none;
  }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

/* https://qiita.com/ohmoto_2020/items/a3c92bc327874adfb8e9 */
.start-screen-container {
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weapons-container {
  display: flex;
  justify-content: center;
  gap: 3vh;
}

 #start-button:active {
  background-color: #9c9c9c; /* アクティブ時の背景色 */
 }

#start-screen h1{
  height: 5vh;
  width: 90vw;
  text-align: center;
  font-size: clamp(16px, 5vw, 32px);
}

.screen {
  width: 100vw;
  height: 100vh;
}

.quiz-screen-weapon-image {
  width: 40vw;
  height: auto;
  object-fit: contain;
}

#result-grid-container {
  display: grid;
  margin-left: 10vw;
  margin-right: 10vw;
  grid-template-rows: repeat(11, minmax(100px, auto));
  grid-template-columns: repeat(3, auto);
}

#result-grid-container > div > div {
  position: relative;
  /* border-right: 3px solid rgb(209, 209, 209); */
  border-bottom: 3px solid rgb(209, 209, 209);
}

.modal {
  background-color: transparent;
}

.screen {
  width: 90vw;
  height: 90vh;
  margin-top: 20vh;
  margin-bottom: 20vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

body {
  background-color: #f5f5f5;
}

@font-face {
  font-family: 'CustomFont1';
  src: url('src/assets/fonts/CP_Revenge.ttf') format('truetype');
  unicode-range:
     U+30FC, /* 長音記号 */
    U+4E00-9FAF, /* 漢字の範囲 */
    U+0030-0039; /* 数字 0-9 */
}

@font-face {
  font-family: 'CustomFont2';
  src: url('src/assets/fonts/IGAFONT.ttf') format('truetype');
  unicode-range: 
    U+3041-309F, /* ひらがな */
    U+30A1-30FA; /* カタカナ */
  }


/* font-weight:normalを@font-faceに指定しても変わらなかったが、h1など個別に指定すると適用された */
/* テキストに若干の角度をつけて日本語フォントが崩れるのを防ぐ */
/* .text {
  transform: rotate(0.05deg);
} */

h1, h2, p, div, text{
  font-weight: normal;
  transform: rotate(0.05deg);
}

body {
  font-family: 'CustomFont1', 'CustomFont2',  sans-serif;
}

/* ユーザーが選択したブキの強調：バックグラウンドカラー検討 */
/* 問題数大きく */
/* ボタンの文字中央に flex 使うと簡単 */

/* ぼかした丸を後ろに重ねたい */
.selected-weapon-background {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #00FF00;
}

.results-img {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: auto;
  transform: translate(-50%, -50%);
}

/* 親要素の「見た目」を消す */
/* 子要素を直接親の位置に配置する */
/* これにより、グリッドレイアウトで子要素を自由に配置できるようになる */
/* https://qiita.com/raiga0310/items/331d8e65ffd7b25db4dc#:~:text=TL%3BDR%201%20grid-template-area%20%E3%81%A7%E5%90%8D%E5%89%8D%E3%81%A7%E3%82%B0%E3%83%AA%E3%83%83%E3%83%89%E3%83%AC%E3%82%A4%E3%82%A2%E3%82%A6%E3%83%88%E3%82%92%E5%AE%9F%E7%8F%BE%E3%81%A7%E3%81%8D%E3%82%8B%202%20%E9%85%8D%E7%BD%AE%E3%81%99%E3%82%8B%E5%AD%90%E8%A6%81%E7%B4%A0%E3%81%AF%20grid-area%20%E3%81%A7%E5%90%8D%E5%89%8D%E3%82%92%E3%81%A4%E3%81%91%E3%82%8B,%28%20%21%E5%AD%90%20%29%E8%A6%81%E7%B4%A0%E3%81%AB%20grid-area%20%E3%82%92%E4%BB%98%E3%81%91%E3%82%8B%E5%A0%B4%E5%90%88%E3%81%AF%E3%82%B0%E3%83%AA%E3%83%83%E3%83%89%E3%82%B3%E3%83%B3%E3%83%86%E3%83%8A%E3%81%BE%E3%81%A7%E3%81%AE%E8%A6%81%E7%B4%A0%E3%81%AF%20display%3A%20contents%20%E3%81%AB%E3%81%99%E3%82%8B */
.result-grid-header {
  display: contents;
}

/* ヘッダとするセルを1行目に */
.header-cell {
  align-content: center;
  text-align: center;
  grid-row: 1;
}

/* 問題を表示するセルは2列目から始まって3列目で終わるから、2列目から始まり、2列分の幅を持つことになる */
.header-cell.question {
  grid-column: 2 / span 2;
}

.result-question-number {
  align-content: center;
  text-align: center;
}
button {
  font-family: 'CustomFont1', 'CustomFont2', sans-serif;
  background-color: #603BFF;
  color: #EAFF3D;
  border: none;
  outline: none;
  /* 背景色の変化をのアニメーション。easeはなめらかに。 */
  transition: background-color 0.3s ease;
  width: 60vw;
  height: 5vh;
  border-radius: 54px;
  border-color: transparent;
  font-size: clamp(16px, 10vw, 32px); /* 最小値,目標値,最大値 */
  text-align: center;
  cursor: pointer;
}

/* 押した感出したい。背景色を暗めにしてみる。 */
#start-button:active {
  background-color: #4b2ca7;
}

/* 背景の模様をつくる */
/* background-sizeを調整することで、ストライプの太さ調整 */
body {
  /* グラデーションの方向と色の停止点を定義 */
  /* %で色の範囲を指定 */
  background-image: linear-gradient(45deg, #3C3C3C 25%, #333333 25%, #333333 50%, #3C3C3C 50%, #3C3C3C 75%, #333333 75%, #333333 100%);
  background-size: 56.57px 56.57px;
}

body, h1, h2, p, div, text {
  color: rgb(230, 230, 230);
}